<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h1 class="mt-5">This is Top page</h1>
      <p>こんにちは！</p>
      <p>これは画像も投稿できるブログアプリです。</p>
    </div>
  </div>
</div>
