<div class="design-container">
  <div class="container">
    <div class="row">
      <div class="col mx-auto text-center top-text">
        <h1 class="my-5">Hello!<br>Welcome to this App!</h1>
        <p>こんにちは！</p>
        <p>これは画像も投稿できるブログアプリです。</p>
      </div>
    </div>
  </div>
</div>
